<div id="main" class="site-main">
	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">


				<article id="post-17" class="post-17 page type-page status-publish hentry">
					<header class="entry-header">
						<h1 class="entry-title">Join Us</h1>
					</header><!-- .entry-header -->

					<div class="entry-content">
						<p><img class="alignnone size-full wp-image-628" src="http://www.intandembike.org/wp-content/uploads/2015/07/5boro15-e1439991633245.jpg" alt="5boro15" width="718" height="394" srcset="http://www.intandembike.org/wp-content/uploads/2015/07/5boro15-e1439991633245.jpg 718w, http://www.intandembike.org/wp-content/uploads/2015/07/5boro15-e1439991633245-300x165.jpg 300w" sizes="(max-width: 718px) 100vw, 718px"></p>
<p>All are welcome, our program needs volunteers of different capacities. Not everyone needs to ride a bike to help! Here is a list of ways you can participate!</p>
<p><strong>Stokers:&nbsp;</strong>Come ride a bike wtih the help of our wonderful captains! We’ll set you up with a partner, adjust the bike the way you like it, and before you know it you’ll be zooming around the park loop. Or maybe not zooming, fast or slow it’s up to you! Our stokers are all visually impaired or otherwise disabled. Please contact us to if you are interested but unsure if you can participate. We will figure it out together!</p>
<p><strong>Captains:&nbsp;</strong>Help a cyclist with visual impairment (or other disability) to ride a bike. It’s a great time, and you’ll leave with a new friend for sure. Training is a requirement, and we will provide that for all participants, however there are a few pre-requisites that we ask you bring to training with you.</p>
<p><strong style="line-height: 1.5;">Pre-Requisites:</strong></p>
<p><em style="line-height: 1.5;">Be able to ride 20 miles without stopping.&nbsp;</em><br>
<span style="line-height: 1.5;">While our weekly workouts are not 20 miles long, we demand that our captains posses a certain skill level to command our bicycles built for two!</span></p>
<p><i>Be confident and aware.&nbsp;</i><br>
Central Park is a very busy place. Cycling has been made easier with the new fantastic bike lanes, but with traffic lights and the company of other cyclists and runners, it is absolutely neccessary that our captains be confident and aware of themselves and able to effectively ride in the midst of others also using the park loop.</p>
<p><i>Be open and accomodating.&nbsp;</i><br>
Our stokers are all very wonderful people with different needs. We ask that our Captains be ready to deal with the specific adjustments requested by their tandem buddy (go slower, speak louder, etc.)</p>
<p><strong>Dog Watchers:</strong>&nbsp;Many of our Stokers have canine companions, we need trusty humans to keep their furry pals company while they’re taking their turn riding around the park.</p>
<p><strong>Bag Guarders:&nbsp;</strong>This is New York City afterall. No one wants to come back to find they no longer have their posessions. People watch while you sit with the belongings of the riders. You’ll find that you make a few friends while you’re waiting.</p>
<h2 style="text-align: center;"><a href="mailto:info@intandembike.org?subject=I would like to participate!&amp;body=How would you like to participate&amp;63;">I would like to participate!</a></h2>
											</div><!-- .entry-content -->
					<footer class="entry-meta">
											</footer><!-- .entry-meta -->

				</article><!-- #post -->


		</div><!-- #content -->
	</div><!-- #primary -->

		</div>
