.site-header {
  position: relative;
}

#site_header {
  margin-top: 45px;

  #company_info {
    height: 0px;
    width: 800px;
    margin: 0px auto;
    position: relative;

    .company_info_contact {
      position: absolute;
      top: 0px;
      right: -35px;
    }

    #company_info_email {
      top: 20px;
    }

    #company_info_social_media {
      position: absolute;
      top: 50px;
      right: -35px;

      .social_media_icon {
        float: left;
        margin-left: 5px;
      }
    }
  }

  .home-link {
    color: #141412;
    display: block;
    margin: 0 auto;
    max-width: 1080px;
    min-height: 0px;
    padding: 0 20px;
    text-decoration: none;
    width: 100%;
  }

  #navbar {
    margin-top: 15px;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;

    .main-navigation {
      clear: both;
      margin: 0 auto;
      max-width: 1080px;
      min-height: 45px;
      position: relative;

      .menu-toggle {
        display: none;
      }

      #menu-menu-1 {
        margin: 0 0 0 120px;
        padding: 0 40px 0 0;

        .sub-menu, .nav-menu .children {
          background-color: #220e10;
          border: 2px solid #f7f5e7;
          border-top: 0;
          padding: 0;
          position: absolute;
          left: -2px;
          z-index: 99999;
          height: 1px;
          width: 1px;
          overflow: hidden;
          clip: rect(1px, 1px, 1px, 1px);
        }

        li {
          display: inline-block;
          position: relative;

          a {
            color: #141412;
            display: block;
            font-size: 20px;
            line-height: 1;
            padding: 15px 20px;
            text-decoration: none;
          }
        }
      }

    }
  }
}
