<footer class="site-footer">

  <div class="sidebar-container">

    <div class="widget-area">

      <aside id="recent-posts-2" class="widget widget_recent_entries masonry-brick">
        <h3 class="widget-title">Recent Posts</h3>
        <ul>
					<li>
            <a href="http://www.intandembike.org/goldman-sachs-rides-with-intandem/">Wednesday July 20- Goldman Sachs rides with InTandem</a>
					</li>
          <li>
            <a href="http://www.intandembike.org/looking-ahead-gran-fondo-nj-september-11-2016/">Looking ahead – Gran Fondo NJ- September 11, 2016</a>
					</li>
					<li>
            <a href="http://www.intandembike.org/captain-francieh/">Featured Captain: Francisca “Francie” Hoogeveen</a>
					</li>
					<li>
            <a href="http://www.intandembike.org/coney-island-cyclone-and-hot-dog-ride/">Sunday July 31- Coney Island Cyclone and Hot Dog Ride</a>
					</li>
					<li>
            <a href="http://www.intandembike.org/july-10-2016-disability-pride-parade/">July 10, 2016 Disability Pride Parade</a>
					</li>
				</ul>
      </aside>
      <aside id="archives-2" class="widget widget_archive masonry-brick">
        <h3 class="widget-title">Archives</h3>
        <ul>
        	<li><a href="http://www.intandembike.org/2016/07/">July 2016</a></li>
        	<li><a href="http://www.intandembike.org/2016/06/">June 2016</a></li>
        	<li><a href="http://www.intandembike.org/2015/09/">September 2015</a></li>
        	<li><a href="http://www.intandembike.org/2015/08/">August 2015</a></li>
        	<li><a href="http://www.intandembike.org/2015/02/">February 2015</a></li>
        	<li><a href="http://www.intandembike.org/2014/09/">September 2014</a></li>
        	<li><a href="http://www.intandembike.org/2014/05/">May 2014</a></li>
        	<li><a href="http://www.intandembike.org/2013/10/">October 2013</a></li>
        	<li><a href="http://www.intandembike.org/2013/09/">September 2013</a></li>
        </ul>
      </aside>


      <aside id="mailchimpsf_widget-3" class="widget widget_mailchimpsf_widget masonry-brick" style="position: absolute; left: 530px; top: 0px;"><h3 class="widget-title">Sign up for InTandem Mailing List</h3>
        <div id="mc_signup">
        	<form method="post" action="#mc_signup" id="mc_signup_form">
        		<input type="hidden" id="mc_submit_type" name="mc_submit_type" value="js">
        		<input type="hidden" name="mcsf_action" value="mc_submit_signup_form">
        		<input type="hidden" id="_mc_submit_signup_form_nonce" name="_mc_submit_signup_form_nonce" value="9e585b4607">

        	<div class="mc_form_inside">

        		<div class="updated" id="mc_message">
        					</div><!-- /mc_message -->


            <div class="mc_merge_var">
            		<label for="mc_mv_EMAIL" class="mc_var_label mc_header mc_header_email">Email Address<span class="mc_required">*</span></label>
            	<input type="text" size="18" placeholder="" name="mc_mv_EMAIL" id="mc_mv_EMAIL" class="mc_input">
            </div><!-- /mc_merge_var -->
            <div class="mc_merge_var">
            		<label for="mc_mv_FNAME" class="mc_var_label mc_header mc_header_text">First Name<span class="mc_required">*</span></label>
            	<input type="text" size="18" placeholder="" name="mc_mv_FNAME" id="mc_mv_FNAME" class="mc_input">
            </div><!-- /mc_merge_var -->
            <div class="mc_merge_var">
            		<label for="mc_mv_LNAME" class="mc_var_label mc_header mc_header_text">Last Name<span class="mc_required">*</span></label>
            	<input type="text" size="18" placeholder="" name="mc_mv_LNAME" id="mc_mv_LNAME" class="mc_input">
            </div><!-- /mc_merge_var -->
            <div class="mc_merge_var">
            		<label for="mc_mv_MMERGE3" class="mc_var_label mc_header mc_header_radio">Position<span class="mc_required">*</span></label>
            	<ul class="mc_list">
            		<li>
            			<input type="radio" id="mc_mv_MMERGE3_0" name="mc_mv_MMERGE3" class="mc_radio" value="Captain">
            			<label for="mc_mv_MMERGE3_0" class="mc_radio_label">Captain</label>
            		</li>
            		<li>
            			<input type="radio" id="mc_mv_MMERGE3_1" name="mc_mv_MMERGE3" class="mc_radio" value="Stoker">
            			<label for="mc_mv_MMERGE3_1" class="mc_radio_label">Stoker</label>
            		</li>
            		<li>
            			<input type="radio" id="mc_mv_MMERGE3_2" name="mc_mv_MMERGE3" class="mc_radio" value="Volunteer (dog watcher, etc.)">
            			<label for="mc_mv_MMERGE3_2" class="mc_radio_label">Volunteer (dog watcher, etc.)</label>
            		</li>
            		<li>
            			<input type="radio" id="mc_mv_MMERGE3_3" name="mc_mv_MMERGE3" class="mc_radio" value="Other (not a bike rider but like what you do anyway)">
            			<label for="mc_mv_MMERGE3_3" class="mc_radio_label">Other (not a bike rider but like what you do anyway)</label>
            		</li>
            	</ul>
            </div><!-- /mc_merge_var -->
            <div id="mc-indicates-required">
        				* = required field
              </div><!-- /mc-indicates-required -->
        					<div class="mergeRow">
        			<label class="mc_email_format">Preferred Format</label>
        		    <div class="field-group groups mc_email_options">
        		        <ul class="mc_list">
        			        <li><input type="radio" name="email_type" id="email_type_html" value="html" checked="checked"><label for="email_type_html" class="mc_email_type">HTML</label></li>
        			        <li><input type="radio" name="email_type" id="email_type_text" value="text"><label for="email_type_text" class="mc_email_type">Text</label></li>
        		        </ul>
        			</div>
        		</div>
        		<div class="mc_signup_submit">
        			<input type="submit" name="mc_signup_submit" id="mc_signup_submit" value="Subscribe" class="button">
        		</div><!-- /mc_signup_submit -->
        		<br>
        			<div id="mc_display_rewards" align="center" style="display: none;">
        				powered by <a href="http://www.mailchimp.com/affiliates/?aid=e60b06bb81cf99c96f078dbd2&amp;afl=1">MailChimp</a>!
        			</div><!-- /mc_display_rewards -->
          	</div><!-- /mc_form_inside -->
          	</form><!-- /mc_signup_form -->
          </div><!-- /mc_signup_container -->
      	</aside>

        <aside id="search-2" class="widget widget_search masonry-brick">
          <h3 class="widget-title">Search InTandem</h3>
          <form role="search" method="get" class="search-form" action="http://www.intandembike.org/">
        				<label>
        					<span class="screen-reader-text">Search for:</span>
        					<input type="search" class="search-field" placeholder="Search …" value="" name="s">
        				</label>
        				<input type="submit" class="search-submit" value="Search">
        			</form>
        </aside>
        <aside id="wptextresize-3" class="widget wpTextResize masonry-brick hidden">
          <h3 class="widget-title">Text Resize</h3>
          <div title="Resize Body Text" class="wpTextResizeControls" style="background-color:lightgray;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;padding:3px;width:55px;">
            <a class="increaseFont" title="Increase Font Size" style="font-size:18px;cursor:pointer;">A</a><a class="resetFont" title="Reset Font Size" style="font-size:13px;padding-left:10px;cursor:pointer;">A</a><a class="decreaseFont" title="Decrease Font Size" style="font-size:10px;padding-left:10px;cursor:pointer;">A</a>
          </div>
      	</aside>
    </div>

  </div>

  <div class="site-info">
    <a href="mailto:info@intandembike.org">info@intandembike.org</a>
    <span>|</span>
    347.974.3321
  </div>
</footer>
